shortuuid
gevent
requests
pyee
python-circuit
glock
PyYAML
git+https://github.com/gilliam/etcd-py.git
git+https://github.com/gilliam/gilliam-py.git
git+https://github.com/jrydberg/mockery.git
Routes
WebOb
redis
